.main
  .main__group-info
    .main__group-info--member
      .group-name
        test
      %ul.members
        %li.members__name Member:masa
    .main__group-info--edit
      = link_to "#",class: "edit" do
        Edit
  .main__message-list
  .main__message-form
