.main
  .main__group-info
    .main__group-info--member
      .group-name
        test
      %ul.members
        %li Member:
        %li.members__name masa
        %li.members__name test2
        %li.members__name ong-name-test
    .main__group-info--edit
      = link_to "#",class: "link__edit" do
        Edit
  .main__message-list
    .main__message-list--block
      .header
        .header__name
          Test-name
        .header__date
          2020/7/1(Wed) 17:45:30
      .body
        チャット内容の表示場所
    .main__message-list--block
      .header
        .header__name
          My name
        .header__date
          2020/7/1(Wed) 17:47:30
      .body
        長文チャットの表示に関してのテスト。あああああああああああああああああああああ
  .main__message-form
    .main__message-form--input
      入力フォーム
    .main__message-form--send
      送信ボタン
