.side
  %header.side__username
    .top
      .top__name
        name
      .top__icons
        = link_to "#", class: "top__icons--icon" do
          = icon("far","edit",class: "top__icons--edit")
        = link_to "#", class:"top__icons--icon" do
          = icon("fas","cog",class: "top__icons--gear")
  .side__grouplist
    .side__group
      .side__group--group-name
        techcamp
      .side__group--new-message
        まだメッセージがありません

