* {
  box-sizing: border-box;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.side{
  width: 300px;
  background-color: #253141;
  color: #ffffff;
  &__username{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .top{
      width: 260px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      &__name{
      }
      &__icons{
        width: 60px;
        display: flex;
        text-align: start;
        text-decoration: none;
        justify-content: flex-end;
        align-items: center;
        &--edit{
        }
        &--gear{
          margin-left: 5px;
        }
        &--icon{
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
  &__grouplist{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    .side__group{
      padding: 20px 20px 40px 20px;
      &--group-name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &--new-message{
        font-size: 11px;
      }
  }
  }
}

.main{
  width: calc(100vw - 300px);
  background-color: #FFFFFF;
  &__group-info{
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    &--member{
      .group-name{
        font-size: 20px;
        margin: 35px 0 15px 0;

      }
      .members{
        font-size: 12px;
        color: #999999;
        list-style: none;
        display: flex;
        &__name{
          padding-left: 5px;
        }
      }
    }
    &--edit{
      display: flex;
      align-items: center;
      .link__edit{
        width: 72px;
        height: 40px;
        font-size: 16px;
        padding: 0 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  &__message-list{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    position: relative;
    &--block{
      position: absolute;
      bottom: 0;
      .header{
        display: flex;
        &__name{
          font-size: 16px;
          color: #333333;
        }
        &__date{
          font-size: 12px;
          color: #999999;
        }
      }
      .body{
        font-size: 14px;
        color: #344a54;
      }
    }
  }
  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
  }
}