* {
  box-sizing: border-box;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.side{
  width: 300px;
  background-color: #253141;
  color: #ffffff;
  &__username{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .top{
      width: 260px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      &__name{
      }
      &__icons{
        width: 60px;
        display: flex;
        text-align: start;
        text-decoration: none;
        justify-content: flex-end;
        align-items: center;
        &--edit{
        }
        &--gear{
          margin-left: 5px;
        }
        &--icon{
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
  &__grouplist{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    .side__group{
      padding: 20px 20px 40px 20px;
      &--group-name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &--new-message{
        font-size: 11px;
      }
  }
  }
}

.main{
  width: calc(100vw - 300px);
  background-color: #FFFFFF;
  &__group-info{
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    &--member{
      .group-name{
        font-size: 15px;
        margin-top: 35px;
      }
      .members{
        font-size: 11px;
        &--name{
        }
      }
    }
  }
  &__message-list{
    height: calc(100vh - 190px);
    background-color: #fafafa;
  }
  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
  }
}